@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f5f5f5;
}

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #111111;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #f5f5f5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
